@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    font-size: 10px;
}

*, *::before, *::after {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    z-index: 0;
    box-sizing: border-box;
} 

.dmSerif {
    font-family: 'DM Serif Display', serif;
}

.karla {
    font-family: 'Karla', sans-serif;  
}

body {
    font-size: 1.6rem;
    line-height: 1.625;
    font-family: 'Karla', sans-serif; 
    font-weight: 400;
}

.container {
    margin: 0 16.8rem 0 16.5rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    padding: 3.1rem 0;
}
nav li {
    display: inline;
}

ul {
    list-style-type: none;
}

nav a,
nav button {
    text-decoration: none;
    margin-left: 2.4rem;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #837D88
}

button {
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    font-family: 'Karla', sans-serif; 
    font-weight: 700; 
    text-transform: uppercase;
    width: 146px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 1.5px solid white;
}

nav button {
    color: #2C2830;
    border: 1.5px solid #2C2830;
}

header {
    color: white;
    padding-bottom: 30.5rem;
    background: top #2D2641;
    
}

.divider {
    width: 15rem;
    border-bottom: 1px solid white;
}

.intro {
    padding-top: 10.5rem;
    display: flex;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 7.2rem;
    letter-spacing: -1px;
    line-height: 0.889;
    margin: 6.3rem 0 1.6rem 0;
}

.dark-blue button {
    margin: 2.4rem 0 12.7rem 0;
}

